@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-left">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <img src="~/images/avatar.png" class="img-responsive img-circle" alt="Avatar" style="width:40px;height:auto;">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu left">
                        <li role="presentation">
                            <a asp-controller="Identity" asp-action="Index" title="Identity">Hello @User.GetUserName()!</a>
                        </li>
                        <li role="presentation">
                            <a asp-controller="#" asp-action="#" title="Help">Help?</a>
                        </li>
                        <li role="presentation" class="divider"></li>

                        <li role="presentation">
                            <button class="btn btn-block" type="submit" role="menuitem" tabindex="-1">Logout</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
