<div>
    <div class="col-md-12" id="btn-option">
        <h4>Secondary Email Address</h4>
        <p></p>
        <div id="email-form">
            <form>
                <input size="300" />
                <button>Update Now</button>
                <button id="btn">Cancel update</button>
            </form>
            <small style="float:right;display:block;"> Status: <span style="color:red;">Please Update</span></small>
        </div>
        <hr />
    </div>
</div>