<div class="row">
    <div class="col-md-12">
        <h4>Home Phone No.</h4>
        <form>
            <input size="300" />
            <select>
                <option value="">Select organisation</option>
                <option value="">All</option>
                <option value="">Organisation a</option>
                <option value="">Organisation b</option>
                <option value="">Organisation c</option>
                <option value="">Organisation e</option>
                <option value="">Organisation f</option>
                <option value="">Organisation g</option>
            </select><span> or </span>
            <input placeholder="Search organisation/company" size="150" />
            <button>Update Now</button>
            <button id="btn">Cancel update</button>
        </form>
        <small style="float:right;display:block;"> Status: <span style="color:red;">Please Update</span></small>
    </div>
</div>