@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add or Update Phone Numbers";
}

<h2>@ViewData["Title"].</h2>
<form asp-controller="Identity" asp-action="AddPhoneNumber" method="post" class="form-horizontal" role="form">
    <h4>Add or Update phone numbers.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Send verification code</button>
        </div>
    </div>
</form>

<span>Add New:</span>
<select asp-for="PhoneNumber" asp-items="Html.GetEnumSelectList<PhoneNumberTypes>()">
    <!--<option>Work</option>
    <option>Home</option>
    <option>Mobile</option>-->
</select>
<button id="pickNumberType">Add</button>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
