@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h3>Please provide us details of your enquiries to help us help you.</h3>
<technical>
    Technical Support
    <abbr title="Phone">P:</abbr>
    +614.........
</technical>
<address>
    <strong>Support:</strong> <a href="mailto:support_identityright@gmail.com">support_identityright@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing_identityright@gmail.com">marketing_identityright@gmail.com</a>
</address>
<p>
    Identity right are working harder to provide solutions to home movers and organisations to connnect. 
    Send us your enquiries the most details as possible. We wish to provide all enquiries with quality information and 
    service.
</p>
<p>
    Identity right is located in Victoria Australia. Face to face communication may be possible on skype.
<address>
    <abbr title="Skype">Skype:</abbr>
    identityright_skype
</address>
</p>