@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/IdenityRight2.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how to update your address to organisations.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/IdenityRight4.png" alt="Moving In" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how important to update an address.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/IdenityRight3.png" alt="Moving out" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn to which organisation you can update your address with.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/blurred.png" alt="Update Address" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn the importance of your identity information
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-12 company-slogan">
        <h1>Identity Right</h1>
        <h2>
            The solution to your hassle of updating your address to organisations and company you subscribed in the past.
        </h2>
    </div>
</div>
    <div class="row">
        <div class="col-md-3">Update Address
            <img src="~/images/red-lounge.png" class="" width="250" height="150"/>
        </div>
        <div class="col-md-3">Subscribe To
            <img src="~/images/engineering1.png" class="" width="250" height="150" />
        </div>
        <div class="col-md-3">Unsubscribe To</div>
        <div class="col-md-3">How to protect right</div>
        <div class="col-md-12">
            <h2>Why home movers need to update address?</h2>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <h2>How to upate address to ogranisations you signed up with?</h2>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <h2>How to save time when you update your address with government and companies?</h2>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <h2>Where to update your address?</h2>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <h2>How to update your address online?</h2>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>

            <!--
                <ul>
                    <li>Sample pages using ASP.NET MVC 6</li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
                    <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                </ul>

            </div>
            <div class="col-md-3">
                <h2>How to</h2>

                 <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Add an appsetting in config and access it in app.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                </ul>

            </div>
            <div class="col-md-3">
                <h2>Overview</h2>

                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET 5</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET 5 such as Startup and middleware.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                </ul>

            </div>
            <div class="col-md-3">
                <h2>Organisations</h2>
                 <!--
                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Run your app on .NET Core</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run commands in your project.json</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                </ul>
                     -->
        </div>
    </div>
    <div class="row">
        <h2>Tetimonials</h2>
        <div class="col-md-3">
            "It is good to have an online website to update my address to organisation I subscribed in the past."
        </div>
        <div class="col-md-3">
            "Australia post is Australia's current tool to update addres but I highly recommend Identityright website
            to update your address with Vicroad, Centrelink and etc quickly."
        </div>
        <div class="col-md-3">
            "Everytime our family had to move to a different place we had to update our address to so many companies and
            that is very time consuming and frustrating. IdenityRight is the only website you need to update your address online without worrying about your identity.""
        </div>
        <div class="col-md-3">
            "I am busy single parent and I had to move last year and needed to update my address.
            For me I have no time to do all those updates. IdentityRight is the quick and easy to use to update my address.""
        </div>
    </div>
    <div class="row">
        <h2>Organisations</h2>
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
        <img src="~/images/colorful.jpg" height="200" width="200" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>5 ways you need to know how to protect yur identity.</h2>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
            <p>
                are perusing a degree in Information Technology. Identity Right attempts to assist
                everyday people to manage their postal address with organisations they are subscribed
                or registered to. By using our centralized system, users can rest assured that when they
                move houses they can change their address in one convenient location and all the organisations
                they are linked to will be updated. On top of this, the platform is beneficial for organisations
                as well. By using our system organisations are satisfied that the mailing address for their customers
                is up to date all the time which reduces the cost of lost mail and angry customers who claim to have received no mail.
                The system ideally will sign users up automatically and require minimal user input for their convenience.
                In the future Identity Right has the potential to be used to check other current details such as email address,
                phone number, mobile number and also be integrated into websites as a way to log in securely.
            </p>
        </div>
    </div>
    <div class="row">
        <h2>What are your thoughts about protecting identity right</h2>
        <textarea class="comment-web"></textarea>
        <button>Post</button>
    </div>
