@{
    ViewData["Title"] = "Home Page";
}
}
<!--
    
-->
<div class="home-body-image"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner carousel-style" role="listbox">
        <div class="item active">
            <div class="carousel-item1"></div>
            <div class="carousel-caption">
                <p>
                    Learn how to update your address to organisations.
                    <a class="btn btn-default btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-item2"></div>
            <div class="carousel-caption">
                <p>
                    Learn how important to update an address.
                    <a class="btn btn-default btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-item3"></div>
            <div class="carousel-caption">
                <p>
                    Learn to which organisation you can update your address with.
                    <a class="btn btn-default btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-item4"></div>
            <div class="carousel-caption">
                <p>
                    Learn the importance of your identity information
                    <a class="btn btn-default btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-12 company-slogan">
        <div class="container">
            <h1>Details Update</h1>
            <h2>
                The solution to your hassle of updating your address and contact info to organisations you are subscribed to.
            </h2>
        </div>
    </div>
</div>
