@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12 company-slogan">
        <h1>Identity Right</h1>
        <h2>
            The solution to your hassle of updating your address to organisations you are subscribed to.
        </h2>
    </div>
</div>
    <div class="row" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(/images/skyline.PNG); background-position: center;
    background-size: cover;
    background-repeat: no-repeat;background-attachment: fixed;">
  
        <div class="col-md-3">
            Update Address
            <img src="~/images/red-lounge.png" class="" width="250" height="150" />
        </div>
        <div class="col-md-3">
            Subscribe To
            <img src="~/images/engineering1.png" class="" width="250" height="150" />
        </div>
        <div class="col-md-3">Unsubscribe To</div>
        <div class="col-md-3">How to protect right</div>
        <div class="col-md-12">

            <h2>We making moving houses easier and stress free!</h2>
            <p>
                When people change their location they are required to update their address details with all their organisations and government agencies. A single person can have affiliations with hundreds of organisations. Manually updating these details can become cumbersome and stressful during a time that can already be stressful. Time is not only wasted, but some government agencies require prompt updates, with legal ramifications for failing to do so. There is also the possibility of people not receiving important mail.
            </p>
            <p>
                There is currently no efficient way to address this problem. Identity Right, aims to address this problem by creating a central system that allows <b>you</b> to store these details. You will have the freedom to always update your details using one easy interface. With your permission organisations will be able to access this data to ensure that they always have up to date information about you.
            </p>

            <h2>Advantages of having your address managed by us.</h2>
            <p>
                <ul>
                    <li>
                        Reduces stress during moving houses.
                    </li>
                    <li>
                        Saves countless hours on hold waiting for a customer service operator to change your address.
                    </li>
                    <li>
                        Instant update to all organisations your profile is linked to.
                    </li>
                    <li>
                        No more lost mail.
                    </li>
                    <li>
                        Have the flexibility to provide certain details to particular organisations.
                    </li>
                    <li>
                        Avoid paying nasty fines because you forgot to change your address with a government organisation.
                    </li>
                </ul>

        </div>
    </div>


<div class="row">
    <h2>Testimonials</h2>
    <div class="col-md-3">
        "It is good to have an online website to update my address to organisation I subscribed in the past."
    </div>
    <div class="col-md-3">
        "Australia post is Australia's current tool to update addres but I highly recommend Identityright website
        to update your address with Vicroad, Centrelink and etc quickly."
    </div>
    <div class="col-md-3">
        "Everytime our family had to move to a different place we had to update our address to so many companies and
        that is very time consuming and frustrating. IdenityRight is the only website you need to update your address online without worrying about your identity.""
    </div>
    <div class="col-md-3">
        "I am busy single parent and I had to move last year and needed to update my address.
        For me I have no time to do all those updates. IdentityRight is the quick and easy to use to update my address.""
    </div>
</div>
<!--<div class="row">
    <h2>Organisations</h2>
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
    <img src="~/images/colorful.jpg" height="200" width="200" />
</div>-->

<div class="row">
    <div class="col-md-12">
        <h2>Worried about security?</h2>
        <p>
           <ol>
               <li>
                   Once registered create a strong password that only you know. Avoid using same password for everything.
               </li>
               <li>
                   Sign up for two factor authentication. Instructions can be found once you have logged in.
               </li>
               <li>
                   Ensure you keep your details updated at all time.
               </li>
               <li>
                   We will never ask you for your bank details, so do not provide us with any sensitive data
               </li>
               <li>
                   All of your data is encrypted in our server so even we cannot see it.
               </li>
           </ol>
        </p>

    </div>
</div>
<div class="row">
    <h2>What are your thoughts about protecting identity right</h2>
    <textarea class="comment-web form-control"></textarea>
    <button class="btn btn-primary">Post</button>
</div>
