<div class="container">
    <div class="row">
        <div class="cold-md-12">
            <h3>Add join account</h3>
            <hr />
            <h4>Search for an account</h4>
            <form>
                <input /><button>Look for it</button>
            </form>
            <ul class="org-list">
                <li><a>Donald Trumph</a><button>Remove</button></li>
                <li><a>Brack Obama</a><button>Remove</button></li>
            </ul>
        </div>
        <hr />
    </div>
</div>
