body {
}

.splitView{
    width:49%;
    border-style:solid;
    margin:0.5%;
}

h3{
    margin-left: 1%;
    margin-bottom:2%;
}

#right-window{
    float:right;
}

#left-window{
    float:left;
}

#leftSelect{
    min-width: 100%;
    min-height: 50%;
}

#rightSelect{
    min-width: 100%;
    min-height: 50%;
}

.orgsOption{
    padding:1%;
    color:#000000;
}

#leftSelect option{
    padding: 1%;
}

select{
    color: black !important;
}


#buttonsDiv{
    padding-top: 10%;
    width: 15%;
    min-height: 50%;
    
}

#removeOrg{
    
}

#saveBar{
    padding: 1%;
    margin-bottom: 1%;
}

#buttonsDiv button{
    min-width: 80%;
    min-height: 50px;
    font-size: 1vw;
    margin-top: 2%;
    margin-left: 10%;
    font-weight:bolder;

    color: black;
}
